
<div class="title-div">
  <h1 class="typo">Which cat do you like</h1>
  <% if user_signed_in? %>
    <%= link_to 'Show all my catz', admin_cats_path, class: "custom-button title-btn" %>
    <% end %>
</div>

<div class="card-main">
  <% @cats.each do |cat| %>
    <%= link_to cat_path(cat) do %>
    <div class="card-index">
      <%= cl_image_tag cat.photo.key %>
      <div class="card-index-infos">
        <div>
          <h2><%= cat.name %></h2>
          <p><%= cat.breed %></p>
        </div>
        <div class="card-index-right">
          <h2><i class="fa-solid fa-<%= cat.gender == "female" ? "venus" : "mars" %>" style="color: #DB8434;;"></i></h2>
          <p><%= cat.price %> € / d</p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
