<h1><strong><%= @cat.name %></strong></h1>
<%= cl_image_tag @cat.photo.key if @cat.photo.attached? %>
<ul>
  <li><%= @cat.adress %></li>
  <li><%= Cat.genders[@cat.gender] %></li>
  <li><%= @cat.breed %></li>
  <li><%= @cat.price %>€ for one day</li>
</ul>
<div id="calendar"></div>
