<!DOCTYPE html>
<html>
  <head>
    <title>Catz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
  <div class="wrapper">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav class="navbar navbar-light p-2 border-bottom border-gray" style="background-color: #FFDEBF;">
      <%= link_to cats_path do %>
        <img src="https://cdn4.iconfinder.com/data/icons/animals-177/512/Cat-512.png" width="50px" height="50px">
      <% end %>
      <%= link_to 'Catz', cats_path, class: "typo", id: "catz" %>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, class: "custom-button", data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to 'Sign in / up', new_user_session_path, class: "custom-button" %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    </div>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        Made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
  </body>
</html>
